@import "../../../vars.module.scss";

.delete-module-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background: rgb(176, 176, 176);
  opacity: 0.6;
}

.delete-module--container {
  position: fixed;
  top: 20%;
  opacity: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease-in-out;
}

.delete-module--container-active {
  top: 40%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.delete-module {
  padding: 30px;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 179, 1) 0%,
    rgba(0, 31, 125, 1) 100%
  );
  opacity: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 12px -5px #000000;
}

.delete-module--header {
  color: #fff;
  margin: 10px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  height: 60px;
}

.controls-button-delete {
  width: 140px;
  height: 50px;
  background-color: $red-delete;
  color: #fff;
  border: 1px solid $red-delete;
  margin-right: 25px;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 1px 1px 12px -5px #000000;

  &:hover {
    background-color: $red-delete-active;
    transition: all 0.15s ease-in;
  }
}

.controls-button-cancel {
  background: $green-light;
  border: 2px solid #00b3b3;
  box-shadow: 1px 1px 12px -5px #000000;

  font-weight: 700;
  border-radius: 5px;
  color: #fff;
  width: 140px;
  height: 50px;

  &:hover {
    background-color: $green-light-hover;
    transition: all 0.15s ease-in;
  }
}

.delete-module--shift-info-date {
  font-size: 22px;
}

.delete-module--shift-info-start {
  margin-top: 10px;
  color: #fff;
  opacity: 0.8;
}

.delete-module--shift-info-end {
  color: #fff;
  opacity: 0.8;
}
