.edit-shift--overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background: rgb(176, 176, 176);
  opacity: 0.6;
}

.edit-shift--container {
  position: absolute;
  top: 0;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  height: 50vh;
  z-index: 99999;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 179, 1) 0%,
    rgba(0, 31, 125, 1) 100%
  );
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 12px -5px #000000;
  transition: all 0.3s ease-in-out;
}

.edit-shift--container-active {
  top: 20vh;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.edit-shift--header-container {
  width: 80%;
}
.edit-shift--header {
  color: #fff;
}

.edit-shift--form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.edit-shift--input-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15px;
}

.edit-shift--form label {
  color: #fff;
  font-weight: 700;
}

.edit-shift--form input {
  width: 50%;
  height: 40px;
  border-radius: 5px;
}

.edit-shift--controls {
  display: flex;
  justify-content: center;
}

.edit-shift--controls button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin: 35px 15px;
  box-shadow: 1px 1px 12px -5px #000000;
  transition: all 0.2s ease-in-out;
}

.edit-shift--button-cancel {
  border: 3px solid #f94a5b;
  background: #fff;
}

.edit-shift--button-cancel:hover {
  width: 215px;
  box-shadow: 5px 5px 1px #ff0000;
}

.edit-shift--button-cancel:active {
  width: 190px;
  box-shadow: 1px 1px 1px #ff0000;
}

.edit-shift--button-submit {
  color: #fff;
  border: 1px solid #00b3b3;
  background-color: #00b3b3;
}

.edit-shift--button-submit:hover {
  width: 215px;
  box-shadow: 5px 5px 1px #fff;
}

.edit-shift--button-submit:active {
  width: 190px;
  box-shadow: 1px 1px 1px #fff;
}
