@import "../../vars.module.scss";

.user-main {
  margin-top: 2em;
}

.button-logout {
  width: 200px;
  height: 40px;
  border: 1px solid $red-delete;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
