.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.preset-container {
  width: 50%;
}

.preset-select {
  appearance: none;
  background-position: right 25px top 50%;
  background-image: url("../../../svg/chevron.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  margin-top: 0.3em;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border-color: #00b3b3;
  padding: 1em;
}

.preset-select:hover {
  border-color: #001f7d;
}

.preset-container:active {
  border-width: 1px;
  border-color: #010718;
}

.chevron {
  width: 10px;
  height: 10px;
  position: relative;
  right: 10px;
  top: 50%;
}

.start-shift-link {
  width: 100%;
}

.start-shift-button {
  width: 50%;
  margin-top: 1em;
  height: 60px;
  color: #fff;
  background: linear-gradient(90deg, #0000b3 0%, #001f7d 97.5%);
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.start-shift-button:hover {
  background: linear-gradient(45deg, #0202ec 0%, #012ba9 97.5%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.start-shift-button:active {
  background: linear-gradient(45deg, #00b3b3 0%, #00b3b3 97.5%);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
