@import "../../../vars.module.scss";

.add-shift--overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background: rgb(176, 176, 176);
  opacity: 0.6;
}

.add-shift--container {
  position: absolute;
  top: 0;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  height: 60vh;
  z-index: 99999;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 179, 1) 0%,
    rgba(0, 31, 125, 1) 100%
  );
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 12px -5px #000000;
  transition: all 0.3s ease-in-out;
}

.add-shift--container-active {
  top: 20vh;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.add-shift--header-container {
  width: 80%;
}
.add-shift--header {
  color: #fff;
}

.add-shift--form {
  display: flex;
  flex-direction: column;
  width: 80%;

  label {
    color: #fff;
    font-weight: 700;
  }

  input,
  select {
    box-sizing: border-box;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
  }
}

.add-shift--input-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15px;
}

.add-shift--controls {
  display: flex;
  justify-content: center;

  button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 35px 15px;
    box-shadow: $button-box-shadow;
    transition: all 0.2s ease-in-out;
  }
}

.add-shift--button-cancel {
  border: 1px solid $red-delete;
  background: #fff;

  &:hover {
    border: 3px solid $red-delete-active;
    box-shadow: $button-box-shadow-hover;
  }
}

.add-shift--button-submit {
  color: #fff;
  background-color: $green-light;
  border: 1px solid $green-dark;

  &:hover {
    background-color: $green-light-hover;
    box-shadow: $button-box-shadow-hover;
  }
}
